{% extends 'common/base.html' %}
{% block sub_title %}
Plant
{% endblock %}
{% block content %}
<div class="container">
  {% if not valid %}
    <h4 class="text-center text-muted mb-3">控制權已經過期</h4>
  {% endif %}
  <div class="row">
    <div class="col">
      <div class="card bg-light">
        <div class="card-header">
        <h3 class="text-center mb-3">LED</h3>
        </div>
        <div class="card-body">
            <button data-type="led" {% if not valid %} disabled {% endif %} data-action-type="turn_on" data-token="{{ key }}" type="button" class="control-btn btn btn-success btn-lg btn-block">TURN ON</button>
            <button data-type="led" {% if not valid %} disabled {% endif %} data-action-type="turn_off" data-token="{{ key }}" type="button" class="control-btn btn btn-dark btn-lg btn-block">TURN OFF</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light">
        <div class="card-header">
        <h3 class="text-center mb-3">PUMP</h3>
        </div>
        <div class="card-body">
            <button data-type="pump" {% if not valid %} disabled {% endif %} data-action-type="turn_on" data-token="{{ key }}" type="button" class="control-btn btn btn-success btn-lg btn-block">TURN ON</button>
            <button data-type="pump" {% if not valid %} disabled {% endif %} data-action-type="turn_off" data-token="{{ key }}" type="button" class="control-btn btn btn-dark btn-lg btn-block">TURN OFF</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
