      <table class="table table-striped table-hover ">
        <tbody>
          <tr>
            <td>発芽温度</td>
            <td>{{ plant.seed_temperature }}</td>
          </tr>
          <tr>
            <td>光適応性</td>
            <td>{{ plant.light_exposure }}</td>
          </tr>
          <tr>
            <td>温度</td>
            <td>{{ plant.temperature }}</td>
          </tr>
          <tr>
            <td>難易度</td>
            <td>★ × {{ plant.hard_level }}</td>
          </tr>
        </tbody>
      </table>