<fieldset>
  {{ trigger_form.csrf_token }}
  {% if trigger_form.errors %}
    <div class="alert alert-warning" role="alert">
      <ul>
        {% for field_name, field_errors in trigger_form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ trigger_form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="form-row align-items-center">
    <div class="col-lg-2">
      <p class="h3 text-center">{{ factor.display_name }}</p>
    </div>
    <div class="col-lg-2 center-block">
      <div class="{% if trigger_form.operator.errors %}has-error{% endif %}">
        <select class="form-control" name="operator" id="id_operator">
          {% for v, t in trigger_form.operator.choices %}
            <option value="{{ v }}" {% if trigger and v == trigger.operator.value %}selected{% endif %}>{{ v }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="{% if trigger_form.threshold.errors %}has-error{% endif %}">
        <input type="number" name="threshold" class="form-control" id="id_threshold" value="{% if trigger %}{{ trigger.threshold }}{% endif %}" required>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="{% if trigger_form.action_type.errors %}has-error{% endif %}">
        <select class="form-control" name="action_type" id="id_action_type">
          {% for v, t in trigger_form.action_type.choices %}
            <option value="{{ v }}">{{ t }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="{% if trigger_form.controller.errors %}has-error{% endif %}">
        <select class="form-control" name="controller" id="id_controller" {% if not trigger_form.controller.choices %}disabled{% endif %}>
          {% for v, t in trigger_form.controller.choices %}
            <option value="{{ v }}">{{ t }}</option>
          {% else %}
            <option value="" selected>-- コントローラーが全部使いました --</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</fieldset>